.pantry_body{
    background-image: url('./images/dash3.jpeg');
    background-size: 99%;
    background-position: 8px;
    background-repeat:no-repeat;
    display: flex;
    height: 100vh;
    background-color: #e3b4e2;
}

.main{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 40px;
}